{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
    {% for product in products%}
        <img height="300" src="{{MEDIA_URL}}{{product.image}}"></img>
        <h1>{{ product.name}} by {{ product.brand }}</h1>
        <p>{{product.description}}</p>
        <p>Today's price: {{product.price}}</p>
        <form action="{% url 'add_to_cart' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}"/>
            <input type="submit" value="Add To Cart" class="btn btn-default"/>
        </form>
        
        
    {%endfor%}
{% endblock %}